#heading{
    color: #576971;
    text-decoration: none;
    font-size: 28px;
    margin-left: 15%;
    padding: 6px 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
}
#kk{
    margin-left: 25%;
}
#homedetails{
    margin-top: 5%;
}
#hero h2 {
    color: #576971;
    margin-bottom: 30px;
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}
h1 {
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
}
h2 {
    color: #576971;
    margin-bottom: 30px;
    font-size: 24px;
}
#homebtnid{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #009cea;
}
#xx{
    margin-top: 5%;
}
#categoriesHome{
    background: #f7f8f9;
    margin-top: 8%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.icon-box {
    margin-top: 5%;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
    box-shadow: 0 10px 10px 0 rgb(68 88 144 );
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    text-align: center;
    border-bottom: 3px solid #fff;
    width: auto;

}
#heading2 {
    margin-top: 8%;
    margin-bottom: 20px;
    padding-bottom: 0;

}

#tt{
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

#footer{
    margin-top: 5%;
    background: #f7f8f9;
    padding: 10px 0 30px 0;
    color: #364146;
    font-size: 14px;
}
#button3{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #009cea;

}
#section3{
    margin-top: 5%;
}
#button4{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #009cea;
    border-color: white;
}
button4:hover{
    color: #1eb4ff;
    text-decoration: none;
}
.dd{
    margin-top: 5%;
}

