#nn{
    color: #7b909a;
    padding: 10px;
}
#nn:hover{
    color: #1eb4ff;
}
#heading{
    color: #576971;
    text-decoration: none;
    font-size: 10px;
    padding: 6px 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
}
#kk{
    color: #7b909a;
    padding: 10px;
    margin-left: 2%;
}
#kk:hover{
    color: #1eb4ff;
}
#logoutbtn{
    background: #ffffff;
    display: inline-block;
    padding: 1px 1px;
    border-radius: 4px;
    color:#009cea;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    margin-left: 10px;
    height: 25px;
    border-color: white;


}
#logged1{
    display: flex;
    flex-direction: row;
    color: #1eb4ff;
    font-size: 9px;
    margin-top: 0.5%;
    margin-left: 10px;
    background-color: #eeeeee;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    padding-top: 5px;
    border-radius: 4px;

}
#logged2{
    display: flex;
    flex-direction: row;
    color: #1eb4ff;
    font-size: 9px;
    margin-left: 10px;
    background-color: #eeeeee;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    height: 35px;
    border-radius: 4px;

}
#overall{
    background-color: crimson;
    display: flex;
    flex-direction: row;
}
#navd{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    max-height: 10%;

}
#footer{

}

